doctype html
html
	head
		title smiley face
		link(rel='stylesheet', href='./style.css')
		meta(charset='utf-8')
	body
		.head
			.face
				.mouth
				.eye-group
					.eye.eye-left
					.eye.eye-right
